In [43]:
%load_ext autoreload
%autoreload 2

In [244]:
from ExtractTable import ExtractTable
import pandas as pd
import numpy as np
import os
from io import BytesIO, BufferedReader
from PyPDF2 import PdfFileReader, PdfFileWriter
from mongoengine import register_connection, connect, disconnect
from pathlib import Path
from GC_beta.settings import BASE_DIR
from transcript_handler.models import University, Student, Department, Identifier, Transcript, Education
from transcript_handler.utils import extract_pages_from_raw_file, get_transcripts_and_dump_into_disk
from transcript_handler.handlers import ExtractTableHandler
import json
import fitz
from PIL import Image, ImageDraw

In [12]:
disconnect(alias='default')

In [7]:
register_connection(alias='default', name='GC_beta', host='localhost', port=27017)
connect(alias="default")

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, read_preference=Primary())

In [21]:
s1 = Student.objects.get(name='s1')

In [51]:
output_file_path = get_transcripts_and_dump_into_disk(s1, BASE_DIR)

C:\Projects\GC_beta\GC_beta\sample_output\s1\615f434184e36ad26ff8e075-[1,3].pdf

In [59]:
ExtractTableHandler.et_sess.check_usage()

{'credits': 3000, 'queued': 0, 'used': 11}

In [104]:
def compose_paths(student):
    paths = {}
    paths['input_file_path'] = os.path.join(BASE_DIR, "sample_output", student.name, f'{student.name}-raw-transcripts.pdf')
#     paths['input_file_path'] = f'{BASE_DIR}{INPUT_DIR}{category}\\{file_name}'
#     paths['output_dir'] = f'{BASE_DIR}{OUTPUT_DIR}{category}\\{file_name.split(".")[0]}\\'
    paths['output_dir'] = os.path.join(BASE_DIR, "sample_output", student.name)
    return paths

def dump_response(session, outdir):
    """
    dump table data(df as .csv) and raw server response(.json)
    """
    try:
        if not os.path.exists(outdir):
            os.mkdir(outdir)
        session.save_output(outdir, output_format="csv", indexing=True)
        with open(outdir+'\\server_response.json', 'w', encoding='utf-8') as f:
            json.dump(session.ServerResponse.json(), f, ensure_ascii=False, indent=4)
        return True
    except:
        return False
    
def read_response(outdir):
    tables = []  # dfs
    server_response = None  # json
    for f in os.listdir(outdir):
        if f.split('.')[1]=='csv':
            t = pd.read_csv(outdir+f)
            tables.append(t)
        elif f.split('.')[1]=='json':
            with open(outdir+f) as json_file:
                server_response = json.load(json_file)
    return tables, server_response

In [74]:
deng = Student.objects.get(name='Deng')

In [77]:
paths = compose_paths(deng)

In [78]:
table_data = ExtractTableHandler.et_sess.process_file(filepath=paths['input_file_path'], pages="all", output_format="df")

UserWarning: Check the status using the JobId after 30 seconds [parsers.py:43]

[Info]: Waiting to retrieve the output; JobId: 1a5ea0ef8d16defe5350f787c5b8849b841788487c4ca9df4f32d5967934c941

In [79]:
table_data

[           0      1                                         2               3  \
 0     Course   Code                              Course Title  Unit Attempted
 1   Semester   1 of                                 2012-2013
 2       MATH   1110            Advanced Mathematics I (### I)            3.00
 3       LANG   1011                         Chinese I (A#+ I)            3.00
 4        ENG   1011                        English I (K#RX I)            3.00
 5       I.T.   1010                    Information Technology            3.00
 6       MATH   1070     Linear Algebra I (For FM Students) I)            3.00
 7       P.E.   1010         Physical Education/Healthy Living            3.00
 8        WPE   1010                           University Life            1.00
 9   Semester                                    Total BAPTIST           19.00
 10  Semester                  Grade Point Average = 2.88 KONG
 11    Course                                 Cumulative Total           19.00
 12    Course            Cumulative Grade Point Average = 2.88
 13  Semester   2 of                                 2012-2013             the
 14      MATH   1120              Advanced Mathematics II III)            3.00
 15      LANG   1012                    Chinese II (A++) II) K            3,00
 16      ECON   1020          Economics I I) ACADEMIC REGISTRY            0.00
 17       ENG   1012                       English II (A++ II)            3.00
 18       WPE   1020                  Experiential Development            1.00
 19      MATH   1080   Linear Algebra II (for FM Students) II)            3.00
 20      STAT   1060  Statistics for Science (for FM Students)            3.00
 21  Semester  Total                                                     19.00
 22  Semester                       Grade Point Average = 2.67
 23    Course                                 Cumulative Total           38.00
 24    Course            Cumulative Grade Point Average = 2.78

               4      5            6             7
 0   Unit Gained  Grade  Grade Point  Remarks Code
 1
 2          3.00      B         9.00
 3          3.00      B         9.00
 4          3.00     B-         8.10
 5          3.00     C+         6.90
 6          3.00     B+         9.90
 7          3.00      B         9.00
 8          1.00      C         2.00
 9         19.00               51.90
 10
 11        19.00               51.90
 12
 13
 14         3.00      B         9.00
 15         3.00      C         6.00
 16         3.00      B         9.00
 17         3.00     C+         6.90
 18         1.00     B+         3.30
 19         3.00      B         9.00
 20         3.00     B-         8.10
 21        19.00               48.00
 22
 23        38.00               99.90
 24                                                 ,
                    0                                                  1
 0     Chinese Name :                                               XBIK
 1      Student No. :                                         1231800005
 2           Gender :                                                  M
 3   Admission Date :                                     September 2012
 4  Study Programme :  Bachelor of Science (Honours) in Financial Mat...,
                  0                                    1
 0   English Name :                              DENG Bo
 1  Date of Birth :          1993-08-23 (Year-Month-Day)
 2         ID No. :  500105199308231515 (Mainland China),
                   0      1                                                  2  \
 0            Course   Code                                       Course Title
 1          Semester   1 of                                          2013-2014
 2              STAT   2030                               Advanced Probability
 3              ACCT   2110                     Basic Principles of Accounting
 4              ECON   2040                            Economics II (43-64 II)
 5               ENG   2011                             English III (**** III)
 6              MATH   2060  Ordinary and Partial Differential Equations tj...
 7              STAT   2040                                   Regression Model
 8               WPE   2010                          Sports Culture (14 (IXIK)
 9          Semester  Total
 10  Semester Course  Grade              Point Average = 2.78 Cumulative Total
 11  Course Semester   2 of    Cumulative Grade Point Average = 2.78 2013-2014
 12             COMP   3200                      C++ Programming Language 11/1
 13              ENG   2012             English IV (**** IV) ACADEMIC REGISTRY
 14              WPE   2040                            Environmental Awareness
 15             FINM   2040                              Financial Engineering
 16             FINM   2010               Introduction to Quantitative Finance
 17             FINM   2020                                  Theory of Finance
 18             FINM   2030         Time Series for Finance and Macroeconomics
 19         Semester  Total
 20         Semester  Grade                               Point Average = 3.00
 21           Course                                          Cumulative Total
 22           Course                     Cumulative Grade Point Average = 2.83
 23           Dean's   List

                  3            4      5            6             7
 0   Unit Attempted  Unit Gained  Grade  Grade Point  Remarks Code
 1
 2             3.00         3.00      B         9.00
 3             3.00         3.00     C+         6.90
 4             3.00         3.00     B+         9.90
 5             3.00         3.00     B-         8.10
 6             3.00         3.00     B-         8.10
 7             3.00         3.00     B-         8.10
 8             1.00         1.00      B         3.00
 9                         19.00               50.10
 10           59.00        57.00              150.00
 11             the
 12            3000         3.00     B-         8.10
 13            3.00         3.00      B         9.00
 14            1.00         1.00      C         2.00
 15            3.00         3.00     B-         8.10
 16            3.00         3.00      B         9.00
 17            3.00         3.00     B+         9.90
 18            3.00         3.00     B+         9.90
 19           19.00        19.00               54.00
 20
 21           76.00        76.00              204.00
 22
 23                                                                 ,
                    0                                                  1
 0     Chinese Name :                                               XBIX
 1      Student No. :                                         1231800005
 2           Gender :                                                  M
 3   Admission Date :                                     September 2012
 4  Study Programme :  Bachelor of Science (Honours) in Financial Mat...,
                  0                                    1
 0   English Name :                              DENG Bo
 1  Date of Birth :          1993-08-23 (Year-Month-Day)
 2         ID No. :  500105199308231515 (Mainland China),
                 0                1  \
 0          Course             Code
 1        Semester             1 of
 2            ACCT             1010
 3             BUS             4140
 4            COMP             3190
 5              OR             2010
 6             ENG             3010
 7            FINM             3010
 8            FINM             3020
 9        Semester            Total
 10       Semester            Grade
 11         Course       Cumulative
 12  Course Dean's  Cumulative List
 13       Semester             2 of
 14            ENG             1020
 15            ENG             3020
 16            WPE             3010
 17           FINM             3040
 18           ECON             1010
 19            FIN             3110
 20           FINM             3050
 21           MATH             3010
 22       Semester            Total
 23       Semester            Grade
 24         Course       Cumulative
 25         Course       Cumulative

                                                     2               3  \
 0                                        Course Title  Unit Attempted
 1                                           2014-2015
 2   Accounting for Non-Business Students (211) T. ...            3.00
 3                   Corporate Strategy and Management            3.00
 4                    Data Structure (for FM Students)            3.00
 5                                 Dynamic Programming            3.00
 6                        Effective Oral Communication            1.00
 7   Financial Mathematics I (for FM Students) ($1 ...            3.00
 8      Introduction to Financial Derivatives ($1 gir)            3.00
 9                                        KONG BAPTIST
 10                             Point Average = 3.12 -
 11                                              Total              00
 12                         Grade Point Average = 2.89             the
 13                                     2014-2015 11/1
 14           Academic Reading and Writing IF REGISTRY              00
 15                  Effective Written Communication (            1.00
 16                             Emotional Intelligence            1.00
 17      Fixed Income Securities and their Derivatives            3.00
 18  Introduction to Economics for Non-Business Stu...            3.00
 19              Principles of Corporate Finance (4 of            3.00
 20                         Risk Management in Finance            3.00
 21     Stochastic Processes and Applications HIN H iv            3.00
 22                                                              20.00
 23                               Point Average = 2.95
 24                                              Total          115.00
 25                         Grade Point Average = 2.90

               4      5            6             7
 0   Unit Gained  Grade  Grade Point  Remarks Code
 1
 2          3.00      B         9.00
 3          3.00     B+         9.90
 4          3.00     A-        11.10
 5          3.00     B-         8.10
 6          1.00     C+         2.30
 7          3.00      B         9.00
 8          3.00     B+         9.90
 9         19.00               59.30
 10
 11        95.00              263.30
 12
 13
 14         3.00      B         9.00
 15         1.00     C+         2.30
 16         1.00     B-         2.70
 17         3.00     B+         9.90
 18         3.00     B+         9.90
 19         3.00      B         9.00
 20         3.00     B+         9.90
 21         3.00      C         6.00
 22        20.00               56.00
 23
 24       115.00              319.30
 25                                                 ,
                    0                                                  1
 0     Chinese Name :                                               XBIX
 1      Student No. :                                         1231800005
 2           Gender :                                                  M
 3   Admission Date :                                     September 2012
 4  Study Programme :  Bachelor of Science (Honours) in Financial Mat...,
                  0                                    1
 0   English Name :                              DENG Bo
 1  Date of Birth :          1993-08-23 (Year-Month-Day)
 2         ID No. :  500105199308231515 (Mainland China)]

In [105]:
dump_response(ExtractTableHandler.et_sess, paths['output_dir'])

True

In [95]:
jd = ExtractTableHandler.et_sess.ServerResponse.json()

In [99]:
jd['Tables'][0]

{'CharacterConfidence': 98.4,
 'LayoutConfidence': 77.09,
 'Page': 1,
 'TableConfidence': {'0': {'0': 99.6,
   '1': 99.38,
   '2': 99.7,
   '3': 99.85,
   '4': 99.94,
   '5': 99.87,
   '6': 99.45,
   '7': 99.59},
  '1': {'0': 99.81,
   '1': 99.16,
   '2': 99.25,
   '3': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0},
  '10': {'0': 99.81,
   '1': 0.0,
   '2': 96.98,
   '3': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0},
  '11': {'0': 99.59,
   '1': 0.0,
   '2': 99.87,
   '3': 98.65,
   '4': 99.79,
   '5': 0.0,
   '6': 99.77,
   '7': 0.0},
  '12': {'0': 99.53,
   '1': 0.0,
   '2': 98.22,
   '3': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0},
  '13': {'0': 99.79,
   '1': 99.81,
   '2': 99.5,
   '3': 91.7,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0},
  '14': {'0': 99.93,
   '1': 99.8,
   '2': 83.17,
   '3': 92.12,
   '4': 99.82,
   '5': 99.87,
   '6': 99.84,
   '7': 0.0},
  '15': {'0': 99.72,
   '1': 99.92,
   '2': 69.36,
   '3': 98.17,
   '4': 99.8,
   '5': 98.36,
   '6': 99.9,
   '7': 0.0},
  '16': {'0': 99.72,
   '1': 99.93,
   '2': 95.22,
   '3': 98.34,
   '4': 99.85,
   '5': 99.76,
   '6': 99.82,
   '7': 0.0},
  '17': {'0': 99.72,
   '1': 99.93,
   '2': 76.8,
   '3': 99.81,
   '4': 99.79,
   '5': 99.42,
   '6': 99.91,
   '7': 0.0},
  '18': {'0': 99.93,
   '1': 99.9,
   '2': 99.82,
   '3': 99.93,
   '4': 99.95,
   '5': 99.49,
   '6': 99.82,
   '7': 0.0},
  '19': {'0': 99.93,
   '1': 99.81,
   '2': 98.3,
   '3': 99.84,
   '4': 99.8,
   '5': 99.76,
   '6': 99.82,
   '7': 0.0},
  '2': {'0': 99.93,
   '1': 99.73,
   '2': 79.38,
   '3': 99.85,
   '4': 99.84,
   '5': 99.83,
   '6': 99.87,
   '7': 0.0},
  '20': {'0': 99.87,
   '1': 99.9,
   '2': 99.69,
   '3': 99.85,
   '4': 99.81,
   '5': 99.43,
   '6': 99.72,
   '7': 0.0},
  '21': {'0': 99.77,
   '1': 99.92,
   '2': 0.0,
   '3': 99.83,
   '4': 99.85,
   '5': 0.0,
   '6': 99.86,
   '7': 0.0},
  '22': {'0': 99.83,
   '1': 0.0,
   '2': 98.68,
   '3': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0},
  '23': {'0': 99.52,
   '1': 0.0,
   '2': 99.84,
   '3': 99.78,
   '4': 99.81,
   '5': 0.0,
   '6': 99.55,
   '7': 0.0},
  '24': {'0': 99.46,
   '1': 0.0,
   '2': 99.16,
   '3': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0},
  '3': {'0': 99.45,
   '1': 99.93,
   '2': 74.58,
   '3': 99.88,
   '4': 99.8,
   '5': 99.86,
   '6': 99.9,
   '7': 0.0},
  '4': {'0': 99.78,
   '1': 99.93,
   '2': 76.13,
   '3': 99.81,
   '4': 99.85,
   '5': 99.78,
   '6': 99.53,
   '7': 0.0},
  '5': {'0': 99.79,
   '1': 99.85,
   '2': 99.89,
   '3': 99.81,
   '4': 99.79,
   '5': 99.36,
   '6': 99.84,
   '7': 0.0},
  '6': {'0': 99.93,
   '1': 99.9,
   '2': 98.37,
   '3': 99.86,
   '4': 99.85,
   '5': 99.51,
   '6': 99.87,
   '7': 0.0},
  '7': {'0': 99.44,
   '1': 99.88,
   '2': 99.57,
   '3': 99.86,
   '4': 99.82,
   '5': 99.85,
   '6': 99.89,
   '7': 0.0},
  '8': {'0': 99.95,
   '1': 99.89,
   '2': 99.76,
   '3': 99.96,
   '4': 99.96,
   '5': 98.01,
   '6': 99.77,
   '7': 0.0},
  '9': {'0': 99.82,
   '1': 0.0,
   '2': 93.92,
   '3': 99.82,
   '4': 99.81,
   '5': 0.0,
   '6': 99.59,
   '7': 0.0}},
 'TableCoordinates': {'0': {'0': [0.071, 0.2738, 0.1374, 0.3092],
   '1': [0.1374, 0.2738, 0.1609, 0.3092],
   '2': [0.1609, 0.2738, 0.5658, 0.3092],
   '3': [0.5658, 0.2738, 0.6451, 0.3092],
   '4': [0.6451, 0.2738, 0.7244, 0.3092],
   '5': [0.7244, 0.2738, 0.8079, 0.3092],
   '6': [0.8079, 0.2738, 0.885, 0.3092],
   '7': [0.885, 0.2738, 0.9686, 0.3092]},
  '1': {'0': [0.071, 0.3092, 0.1374, 0.3245],
   '1': [0.1374, 0.3092, 0.1609, 0.3245],
   '2': [0.1609, 0.3092, 0.5658, 0.3245],
   '3': [],
   '4': [],
   '5': [],
   '6': [],
   '7': []},
  '10': {'0': [0.071, 0.4435, 0.1374, 0.4565],
   '1': [],
   '2': [0.1609, 0.4435, 0.5658, 0.4565],
   '3': [],
   '4': [],
   '5': [],
   '6': [],
   '7': []},
  '11': {'0': [0.071, 0.4565, 0.1374, 0.4718],
   '1': [],
   '2': [0.1609, 0.4565, 0.5658, 0.4718],
   '3': [0.5658, 0.4565, 0.6451, 0.4718],
   '4': [0.6451, 0.4565, 0.7244, 0.4718],
   '5': [],
   '6': [0.8079, 0.4565, 0.885, 0.4718],
   '7': []},
  '12': {'0': [0.071, 0.4718, 0.1374, 0.4872],
   '1': [],
   '2': [0.1609, 0.4718, 0.5658, 0.4872],
   '3': [],
   '4': [],
   '5': [],
   '6': [],
   '7': []},
  '13': {'0': [0.071, 0.4872, 0.1374, 0.5095],
   '1': [0.1374, 0.4872, 0.1609, 0.5095],
   '2': [0.1609, 0.4872, 0.5658, 0.5095],
   '3': [0.5658, 0.4872, 0.6451, 0.5095],
   '4': [],
   '5': [],
   '6': [],
   '7': []},
  '14': {'0': [0.071, 0.5095, 0.1374, 0.5225],
   '1': [0.1374, 0.5095, 0.1609, 0.5225],
   '2': [0.1609, 0.5095, 0.5658, 0.5225],
   '3': [0.5658, 0.5095, 0.6451, 0.5225],
   '4': [0.6451, 0.5095, 0.7244, 0.5225],
   '5': [0.7244, 0.5095, 0.8079, 0.5225],
   '6': [0.8079, 0.5095, 0.885, 0.5225],
   '7': []},
  '15': {'0': [0.071, 0.5225, 0.1374, 0.5378],
   '1': [0.1374, 0.5225, 0.1609, 0.5378],
   '2': [0.1609, 0.5225, 0.5658, 0.5378],
   '3': [0.5658, 0.5225, 0.6451, 0.5378],
   '4': [0.6451, 0.5225, 0.7244, 0.5378],
   '5': [0.7244, 0.5225, 0.8079, 0.5378],
   '6': [0.8079, 0.5225, 0.885, 0.5378],
   '7': []},
  '16': {'0': [0.071, 0.5378, 0.1374, 0.552],
   '1': [0.1374, 0.5378, 0.1609, 0.552],
   '2': [0.1609, 0.5378, 0.5658, 0.552],
   '3': [0.5658, 0.5378, 0.6451, 0.552],
   '4': [0.6451, 0.5378, 0.7244, 0.552],
   '5': [0.7244, 0.5378, 0.8079, 0.552],
   '6': [0.8079, 0.5378, 0.885, 0.552],
   '7': []},
  '17': {'0': [0.071, 0.552, 0.1374, 0.5661],
   '1': [0.1374, 0.552, 0.1609, 0.5661],
   '2': [0.1609, 0.552, 0.5658, 0.5661],
   '3': [0.5658, 0.552, 0.6451, 0.5661],
   '4': [0.6451, 0.552, 0.7244, 0.5661],
   '5': [0.7244, 0.552, 0.8079, 0.5661],
   '6': [0.8079, 0.552, 0.885, 0.5661],
   '7': []},
  '18': {'0': [0.071, 0.5661, 0.1374, 0.5803],
   '1': [0.1374, 0.5661, 0.1609, 0.5803],
   '2': [0.1609, 0.5661, 0.5658, 0.5803],
   '3': [0.5658, 0.5661, 0.6451, 0.5803],
   '4': [0.6451, 0.5661, 0.7244, 0.5803],
   '5': [0.7244, 0.5661, 0.8079, 0.5803],
   '6': [0.8079, 0.5661, 0.885, 0.5803],
   '7': []},
  '19': {'0': [0.071, 0.5803, 0.1374, 0.5944],
   '1': [0.1374, 0.5803, 0.1609, 0.5944],
   '2': [0.1609, 0.5803, 0.5658, 0.5944],
   '3': [0.5658, 0.5803, 0.6451, 0.5944],
   '4': [0.6451, 0.5803, 0.7244, 0.5944],
   '5': [0.7244, 0.5803, 0.8079, 0.5944],
   '6': [0.8079, 0.5803, 0.885, 0.5944],
   '7': []},
  '2': {'0': [0.071, 0.3245, 0.1374, 0.3386],
   '1': [0.1374, 0.3245, 0.1609, 0.3386],
   '2': [0.1609, 0.3245, 0.5658, 0.3386],
   '3': [0.5658, 0.3245, 0.6451, 0.3386],
   '4': [0.6451, 0.3245, 0.7244, 0.3386],
   '5': [0.7244, 0.3245, 0.8079, 0.3386],
   '6': [0.8079, 0.3245, 0.885, 0.3386],
   '7': []},
  '20': {'0': [0.071, 0.5944, 0.1374, 0.6097],
   '1': [0.1374, 0.5944, 0.1609, 0.6097],
   '2': [0.1609, 0.5944, 0.5658, 0.6097],
   '3': [0.5658, 0.5944, 0.6451, 0.6097],
   '4': [0.6451, 0.5944, 0.7244, 0.6097],
   '5': [0.7244, 0.5944, 0.8079, 0.6097],
   '6': [0.8079, 0.5944, 0.885, 0.6097],
   '7': []},
  '21': {'0': [0.071, 0.6097, 0.1374, 0.6274],
   '1': [0.1374, 0.6097, 0.1609, 0.6274],
   '2': [],
   '3': [0.5658, 0.6097, 0.6451, 0.6274],
   '4': [0.6451, 0.6097, 0.7244, 0.6274],
   '5': [],
   '6': [0.8079, 0.6097, 0.885, 0.6274],
   '7': []},
  '22': {'0': [0.071, 0.6274, 0.1374, 0.6404],
   '1': [],
   '2': [0.1609, 0.6274, 0.5658, 0.6404],
   '3': [],
   '4': [],
   '5': [],
   '6': [],
   '7': []},
  '23': {'0': [0.071, 0.6404, 0.1374, 0.6545],
   '1': [],
   '2': [0.1609, 0.6404, 0.5658, 0.6545],
   '3': [0.5658, 0.6404, 0.6451, 0.6545],
   '4': [0.6451, 0.6404, 0.7244, 0.6545],
   '5': [],
   '6': [0.8079, 0.6404, 0.885, 0.6545],
   '7': []},
  '24': {'0': [0.071, 0.6545, 0.1374, 0.6722],
   '1': [],
   '2': [0.1609, 0.6545, 0.5658, 0.6722],
   '3': [],
   '4': [],
   '5': [],
   '6': [],
   '7': []},
  '3': {'0': [0.071, 0.3386, 0.1374, 0.354],
   '1': [0.1374, 0.3386, 0.1609, 0.354],
   '2': [0.1609, 0.3386, 0.5658, 0.354],
   '3': [0.5658, 0.3386, 0.6451, 0.354],
   '4': [0.6451, 0.3386, 0.7244, 0.354],
   '5': [0.7244, 0.3386, 0.8079, 0.354],
   '6': [0.8079, 0.3386, 0.885, 0.354],
   '7': []},
  '4': {'0': [0.071, 0.354, 0.1374, 0.3669],
   '1': [0.1374, 0.354, 0.1609, 0.3669],
   '2': [0.1609, 0.354, 0.5658, 0.3669],
   '3': [0.5658, 0.354, 0.6451, 0.3669],
   '4': [0.6451, 0.354, 0.7244, 0.3669],
   '5': [0.7244, 0.354, 0.8079, 0.3669],
   '6': [0.8079, 0.354, 0.885, 0.3669],
   '7': []},
  '5': {'0': [0.071, 0.3669, 0.1374, 0.3822],
   '1': [0.1374, 0.3669, 0.1609, 0.3822],
   '2': [0.1609, 0.3669, 0.5658, 0.3822],
   '3': [0.5658, 0.3669, 0.6451, 0.3822],
   '4': [0.6451, 0.3669, 0.7244, 0.3822],
   '5': [0.7244, 0.3669, 0.8079, 0.3822],
   '6': [0.8079, 0.3669, 0.885, 0.3822],
   '7': []},
  '6': {'0': [0.071, 0.3822, 0.1374, 0.3964],
   '1': [0.1374, 0.3822, 0.1609, 0.3964],
   '2': [0.1609, 0.3822, 0.5658, 0.3964],
   '3': [0.5658, 0.3822, 0.6451, 0.3964],
   '4': [0.6451, 0.3822, 0.7244, 0.3964],
   '5': [0.7244, 0.3822, 0.8079, 0.3964],
   '6': [0.8079, 0.3822, 0.885, 0.3964],
   '7': []},
  '7': {'0': [0.071, 0.3964, 0.1374, 0.4105],
   '1': [0.1374, 0.3964, 0.1609, 0.4105],
   '2': [0.1609, 0.3964, 0.5658, 0.4105],
   '3': [0.5658, 0.3964, 0.6451, 0.4105],
   '4': [0.6451, 0.3964, 0.7244, 0.4105],
   '5': [0.7244, 0.3964, 0.8079, 0.4105],
   '6': [0.8079, 0.3964, 0.885, 0.4105],
   '7': []},
  '8': {'0': [0.071, 0.4105, 0.1374, 0.4259],
   '1': [0.1374, 0.4105, 0.1609, 0.4259],
   '2': [0.1609, 0.4105, 0.5658, 0.4259],
   '3': [0.5658, 0.4105, 0.6451, 0.4259],
   '4': [0.6451, 0.4105, 0.7244, 0.4259],
   '5': [0.7244, 0.4105, 0.8079, 0.4259],
   '6': [0.8079, 0.4105, 0.885, 0.4259],
   '7': []},
  '9': {'0': [0.071, 0.4259, 0.1374, 0.4435],
   '1': [],
   '2': [0.1609, 0.4259, 0.5658, 0.4435],
   '3': [0.5658, 0.4259, 0.6451, 0.4435],
   '4': [0.6451, 0.4259, 0.7244, 0.4435],
   '5': [],
   '6': [0.8079, 0.4259, 0.885, 0.4435],
   '7': []}},
 'TableJson': {'0': {'0': 'Course',
   '1': 'Code',
   '2': 'Course Title',
   '3': 'Unit Attempted',
   '4': 'Unit Gained',
   '5': 'Grade',
   '6': 'Grade Point',
   '7': 'Remarks Code'},
  '1': {'0': 'Semester',
   '1': '1 of',
   '2': '2012-2013',
   '3': '',
   '4': '',
   '5': '',
   '6': '',
   '7': ''},
  '10': {'0': 'Semester',
   '1': '',
   '2': 'Grade Point Average = 2.88 KONG',
   '3': '',
   '4': '',
   '5': '',
   '6': '',
   '7': ''},
  '11': {'0': 'Course',
   '1': '',
   '2': 'Cumulative Total',
   '3': '19.00',
   '4': '19.00',
   '5': '',
   '6': '51.90',
   '7': ''},
  '12': {'0': 'Course',
   '1': '',
   '2': 'Cumulative Grade Point Average = 2.88',
   '3': '',
   '4': '',
   '5': '',
   '6': '',
   '7': ''},
  '13': {'0': 'Semester',
   '1': '2 of',
   '2': '2012-2013',
   '3': 'the',
   '4': '',
   '5': '',
   '6': '',
   '7': ''},
  '14': {'0': 'MATH',
   '1': '1120',
   '2': 'Advanced Mathematics II III)',
   '3': '3.00',
   '4': '3.00',
   '5': 'B',
   '6': '9.00',
   '7': ''},
  '15': {'0': 'LANG',
   '1': '1012',
   '2': 'Chinese II (A++) II) K',
   '3': '3,00',
   '4': '3.00',
   '5': 'C',
   '6': '6.00',
   '7': ''},
  '16': {'0': 'ECON',
   '1': '1020',
   '2': 'Economics I I) ACADEMIC REGISTRY',
   '3': '0.00',
   '4': '3.00',
   '5': 'B',
   '6': '9.00',
   '7': ''},
  '17': {'0': 'ENG',
   '1': '1012',
   '2': 'English II (A++ II)',
   '3': '3.00',
   '4': '3.00',
   '5': 'C+',
   '6': '6.90',
   '7': ''},
  '18': {'0': 'WPE',
   '1': '1020',
   '2': 'Experiential Development',
   '3': '1.00',
   '4': '1.00',
   '5': 'B+',
   '6': '3.30',
   '7': ''},
  '19': {'0': 'MATH',
   '1': '1080',
   '2': 'Linear Algebra II (for FM Students) II)',
   '3': '3.00',
   '4': '3.00',
   '5': 'B',
   '6': '9.00',
   '7': ''},
  '2': {'0': 'MATH',
   '1': '1110',
   '2': 'Advanced Mathematics I (### I)',
   '3': '3.00',
   '4': '3.00',
   '5': 'B',
   '6': '9.00',
   '7': ''},
  '20': {'0': 'STAT',
   '1': '1060',
   '2': 'Statistics for Science (for FM Students)',
   '3': '3.00',
   '4': '3.00',
   '5': 'B-',
   '6': '8.10',
   '7': ''},
  '21': {'0': 'Semester',
   '1': 'Total',
   '2': '',
   '3': '19.00',
   '4': '19.00',
   '5': '',
   '6': '48.00',
   '7': ''},
  '22': {'0': 'Semester',
   '1': '',
   '2': 'Grade Point Average = 2.67',
   '3': '',
   '4': '',
   '5': '',
   '6': '',
   '7': ''},
  '23': {'0': 'Course',
   '1': '',
   '2': 'Cumulative Total',
   '3': '38.00',
   '4': '38.00',
   '5': '',
   '6': '99.90',
   '7': ''},
  '24': {'0': 'Course',
   '1': '',
   '2': 'Cumulative Grade Point Average = 2.78',
   '3': '',
   '4': '',
   '5': '',
   '6': '',
   '7': ''},
  '3': {'0': 'LANG',
   '1': '1011',
   '2': 'Chinese I (A#+ I)',
   '3': '3.00',
   '4': '3.00',
   '5': 'B',
   '6': '9.00',
   '7': ''},
  '4': {'0': 'ENG',
   '1': '1011',
   '2': 'English I (K#RX I)',
   '3': '3.00',
   '4': '3.00',
   '5': 'B-',
   '6': '8.10',
   '7': ''},
  '5': {'0': 'I.T.',
   '1': '1010',
   '2': 'Information Technology',
   '3': '3.00',
   '4': '3.00',
   '5': 'C+',
   '6': '6.90',
   '7': ''},
  '6': {'0': 'MATH',
   '1': '1070',
   '2': 'Linear Algebra I (For FM Students) I)',
   '3': '3.00',
   '4': '3.00',
   '5': 'B+',
   '6': '9.90',
   '7': ''},
  '7': {'0': 'P.E.',
   '1': '1010',
   '2': 'Physical Education/Healthy Living',
   '3': '3.00',
   '4': '3.00',
   '5': 'B',
   '6': '9.00',
   '7': ''},
  '8': {'0': 'WPE',
   '1': '1010',
   '2': 'University Life',
   '3': '1.00',
   '4': '1.00',
   '5': 'C',
   '6': '2.00',
   '7': ''},
  '9': {'0': 'Semester',
   '1': '',
   '2': 'Total BAPTIST',
   '3': '19.00',
   '4': '19.00',
   '5': '',
   '6': '51.90',
   '7': ''}}}

In [100]:
df = table_data.copy()

In [101]:
df[0]

,0,1,2,3,4,5,6,7
0,Course,Code,Course Title,Unit Attempted,Unit Gained,Grade,Grade Point,Remarks Code
1,Semester,1 of,2012-2013,,,,,
2,MATH,1110,Advanced Mathematics I (### I),3.00,3.00,B,9.00,
3,LANG,1011,Chinese I (A#+ I),3.00,3.00,B,9.00,
4,ENG,1011,English I (K#RX I),3.00,3.00,B-,8.10,
5,I.T.,1010,Information Technology,3.00,3.00,C+,6.90,
6,MATH,1070,Linear Algebra I (For FM Students) I),3.00,3.00,B+,9.90,
7,P.E.,1010,Physical Education/Healthy Living,3.00,3.00,B,9.00,
8,WPE,1010,University Life,1.00,1.00,C,2.00,
9,Semester,,Total BAPTIST,19.00,19.00,,51.90,
10,Semester,,Grade Point Average = 2.88 KONG,,,,,
11,Course,,Cumulative Total,19.00,19.00,,51.90,
12,Course,,Cumulative Grade Point Average = 2.88,,,,,
13,Semester,2 of,2012-2013,the,,,,
14,MATH,1120,Advanced Mathematics II III),3.00,3.00,B,9.00,
15,LANG,1012,Chinese II (A++) II) K,"3,00",3.00,C,6.00,
16,ECON,1020,Economics I I) ACADEMIC REGISTRY,0.00,3.00,B,9.00,
17,ENG,1012,English II (A++ II),3.00,3.00,C+,6.90,
18,WPE,1020,Experiential Development,1.00,1.00,B+,3.30,
19,MATH,1080,Linear Algebra II (for FM Students) II),3.00,3.00,B,9.00,
20,STAT,1060,Statistics for Science (for FM Students),3.00,3.00,B-,8.10,
21,Semester,Total,,19.00,19.00,,48.00,
22,Semester,,Grade Point Average = 2.67,,,,,
23,Course,,Cumulative Total,38.00,38.00,,99.90,
24,Course,,Cumulative Grade Point Average = 2.78,,,,,

In [ ]:
"""
processd data, a list:
    1. table df data
    2. which page
    3. append confidence to each row
"""

In [110]:
df[0].to_csv(paths['output_dir']+'\\test-1.csv',index=False)

In [111]:
test_df1 = pd.read_csv(paths['output_dir']+'\\test-1.csv')

In [112]:
test_df1

,0,1,2,3,4,5,6,7
0,Course,Code,Course Title,Unit Attempted,Unit Gained,Grade,Grade Point,Remarks Code
1,Semester,1 of,2012-2013,NaN,NaN,NaN,NaN,NaN
2,MATH,1110,Advanced Mathematics I (### I),3.00,3.00,B,9.00,NaN
3,LANG,1011,Chinese I (A#+ I),3.00,3.00,B,9.00,NaN
4,ENG,1011,English I (K#RX I),3.00,3.00,B-,8.10,NaN
5,I.T.,1010,Information Technology,3.00,3.00,C+,6.90,NaN
6,MATH,1070,Linear Algebra I (For FM Students) I),3.00,3.00,B+,9.90,NaN
7,P.E.,1010,Physical Education/Healthy Living,3.00,3.00,B,9.00,NaN
8,WPE,1010,University Life,1.00,1.00,C,2.00,NaN
9,Semester,NaN,Total BAPTIST,19.00,19.00,NaN,51.90,NaN
10,Semester,NaN,Grade Point Average = 2.88 KONG,NaN,NaN,NaN,NaN,NaN
11,Course,NaN,Cumulative Total,19.00,19.00,NaN,51.90,NaN
12,Course,NaN,Cumulative Grade Point Average = 2.88,NaN,NaN,NaN,NaN,NaN
13,Semester,2 of,2012-2013,the,NaN,NaN,NaN,NaN
14,MATH,1120,Advanced Mathematics II III),3.00,3.00,B,9.00,NaN
15,LANG,1012,Chinese II (A++) II) K,"3,00",3.00,C,6.00,NaN
16,ECON,1020,Economics I I) ACADEMIC REGISTRY,0.00,3.00,B,9.00,NaN
17,ENG,1012,English II (A++ II),3.00,3.00,C+,6.90,NaN
18,WPE,1020,Experiential Development,1.00,1.00,B+,3.30,NaN
19,MATH,1080,Linear Algebra II (for FM Students) II),3.00,3.00,B,9.00,NaN
20,STAT,1060,Statistics for Science (for FM Students),3.00,3.00,B-,8.10,NaN
21,Semester,Total,NaN,19.00,19.00,NaN,48.00,NaN
22,Semester,NaN,Grade Point Average = 2.67,NaN,NaN,NaN,NaN,NaN
23,Course,NaN,Cumulative Total,38.00,38.00,NaN,99.90,NaN
24,Course,NaN,Cumulative Grade Point Average = 2.78,NaN,NaN,NaN,NaN,NaN

In [114]:
def get_cell_confidence(i, r, c, server_response):
    """
    i: index of the table
    """
    return server_response['Tables'][i]['TableConfidence'][str(r)][str(c)]
get_cell_confidence(0,0,0,jd)

99.6

In [138]:
def table_confidence_check(threshold, i, server_response):
    """
    return a list of coor that has confidence below the threshold
    """
    result = [] # defective cells
    rate = 0
    valid_cells_count = 0 # non-zero confidence
    confidences = server_response['Tables'][i]['TableConfidence']
    for r in confidences:
        for c in confidences[r]:
            cell_conf = get_cell_confidence(i, int(r), int(c), server_response)
            if cell_conf > 0:
                valid_cells_count+=1
                if cell_conf < threshold:
                    result.append((int(r),int(c)))
    acceptance = 1 - len(result)/valid_cells_count
    return sorted(result), acceptance
table_confidence_check(98, 0, jd)

([(2, 2),
  (3, 2),
  (4, 2),
  (9, 2),
  (10, 2),
  (13, 3),
  (14, 2),
  (14, 3),
  (15, 2),
  (16, 2),
  (17, 2)],
 0.9219858156028369)

In [234]:
def read_response(student):
    paths = compose_paths(student)
    tables = []  # dfs
    server_response = None  # json
    outdir = paths['output_dir']
    for f in os.listdir(outdir):
        if f.split('.')[1]=='csv':
            t = pd.read_csv(os.path.join(outdir,f))
            tables.append(t)
        elif f.split('.')[1]=='json':
            with open(os.path.join(outdir,f)) as json_file:
                server_response = json.load(json_file)
    return tables, server_response
def compose_paths(student):
    paths = {}
    paths['input_file_path'] = os.path.join(BASE_DIR, "sample_output", student.name,
                                            f'{student.name}-raw-transcripts.pdf')
    paths['output_dir'] = os.path.join(BASE_DIR, "sample_output", student.name)
    return paths

In [238]:
dfs, server_response = read_response(liu)
table_coors = server_response['Tables'][i]['TableCoordinates']
columns, rows = dfs[i].shape
x2,y2 = 0, 0
for i in range(1, rows):
    if table_coors['0'][str(i-1)]:
        x2 = table_coors['0'][str(i-1)][2]
        break
for i in range(1, columns):
    if table_coors[str(i-1)]['0']:
        y2 = table_coors[str(i-1)]['0'][3]
        break
print(x2,y2)

0.0997 0.2976

In [185]:
def get_table_coor(i, server_response, dfs):
    """
    "{row#: {col#: <list(x1,y1,x2,y2)>}}"
    """
    table_coors = server_response['Tables'][i]['TableCoordinates']
    x1,y1 = table_coors['0']['0'][:2]
    x2,y2 = 0, 0
    columns, rows = dfs[i].shape
    for 
    
    return table_coors['0']['0'][:2]+[table_coors['0'][str(shape[1]-1)][2], table_coors[str(shape[0]-1)]['0'][3]]
get_table_coor(0, jd, df)

[0.071, 0.2738, 0.9686, 0.6722]

In [186]:
def extract_image_from_pdf_and_dump(input_pdf_path, output_path):
    doc = fitz.open(input_pdf_path)
    for i in range(len(doc)):
        for img in doc.get_page_images(i):
            xref = img[0]
            pix = fitz.Pixmap(doc, xref)
            if pix.n < 5:       # this is GRAY or RGB
                pix.save(output_path+"\\p%s.png" % (i))
            else:               # CMYK: convert to RGB first
                pix1 = fitz.Pixmap(fitz.csRGB, pix)
                pix1.save(output_path+"\\p%s.png" % (i))
                pix1 = None
            pix = None

In [210]:
def draw_rectangle_on_image_and_dump(base_dir, page_idx, table_idx, coors):
    input_image_path = os.path.join(base_dir, f"p{page_idx}.png")
    output_image_path = os.path.join(base_dir, f"p{page_idx}-t{table_idx}.png")
    image = Image.open(input_image_path)
    width, height = image.size
    draw = ImageDraw.Draw(image)
    draw.rectangle((coors[0]*width, coors[1]*height, coors[2]*width, coors[3]*height),outline =128, width=5)
#     image.show()
    print(f'compressing p{page_idx}-t{table_idx}.png ...')
    image = image.resize((int(width*0.7),int(height*0.7)),Image.ANTIALIAS)
    image.save(output_image_path,quality=70)
# draw_rectangle()

In [200]:
def get_table_border_images(input_pdf_path, output_path, server_response, dfs):
    """
    0. read pdf and extract iamges
    1. generate base image (on pages)
    2. draw rectangles (on tables)
    3. save
    input_pdf_path: input pdf path
    """
    extract_image_from_pdf_and_dump(input_pdf_path, output_path)
    pages_number = server_response['Pages']
    for i, table in enumerate(server_response['Tables']):
        coors = get_table_coor(i, server_response, dfs)
        draw_rectangle_on_image_and_dump(output_path, table["Page"]-1, i, coors)

In [211]:
get_table_border_images(paths['input_file_path'], paths['output_dir'], jd, df)

compressing p0-t0.png ...
compressing p0-t1.png ...
compressing p0-t2.png ...
compressing p1-t3.png ...
compressing p1-t4.png ...
compressing p1-t5.png ...
compressing p2-t6.png ...
compressing p2-t7.png ...
compressing p2-t8.png ...

In [221]:
ExtractTableHandler.prepare_transcript(deng)

sending pdf to ExtracTable...

C:\Projects\GC_beta\venv\lib\site-packages\ExtractTable\parsers.py:43: UserWarning: Check the status using the JobId after 30 seconds
  warnings.warn(_msg_)

[Info]: Waiting to retrieve the output; JobId: fe61eb906f2e5a9d2ed5346c4b74314d9cf9e3d5ea9137f81da0a2a5bede2f45
preparing images and tables...
compressing p0-t0.png ...
compressing p0-t1.png ...
compressing p0-t2.png ...
compressing p1-t3.png ...
compressing p1-t4.png ...
compressing p1-t5.png ...
compressing p2-t6.png ...
compressing p2-t7.png ...
compressing p2-t8.png ...

True

In [222]:
liu = Student.objects.get(id='618aec19396e535e251580c7')

In [302]:
from transcript_handler.handlers import ExtractTableHandler
ExtractTableHandler.prepare_transcript(deng,False)

checking data...
C:\Projects\GC_beta\GC_beta\sample_output\Deng\server_response.json True
Data found. Reading from dumped files instead...
reading server response...
reading table-0.csv
reading table-1.csv
reading table-2.csv
reading table-3.csv
reading table-4.csv
reading table-5.csv
reading table-6.csv
reading table-7.csv
reading table-8.csv
preparing images and tables...
preparing table 0
table 0 shape: 25 8
compressing p0-t0.png ...
preparing table 1
table 1 shape: 5 2
compressing p0-t1.png ...
preparing table 2
table 2 shape: 3 2
compressing p0-t2.png ...
preparing table 3
table 3 shape: 24 8
compressing p1-t3.png ...
preparing table 4
table 4 shape: 5 2
compressing p1-t4.png ...
preparing table 5
table 5 shape: 3 2
compressing p1-t5.png ...
preparing table 6
table 6 shape: 26 8
compressing p2-t6.png ...
preparing table 7
table 7 shape: 5 2
compressing p2-t7.png ...
preparing table 8
table 8 shape: 3 2
compressing p2-t8.png ...

True

In [263]:
tables[0].shape

(25, 9)

In [262]:
wrong_tables, server_response = ExtractTableHandler._read_response(deng)

In [264]:
tables[0]

,Unnamed: 0,0,1,2,3,4,5,6,7
0,0,Course,Code,Course Title,Unit Attempted,Unit Gained,Grade,Grade Point,Remarks Code
1,1,Semester,1 of,2012-2013,NaN,NaN,NaN,NaN,NaN
2,2,MATH,1110,Advanced Mathematics I (### I),3.00,3.00,B,9.00,NaN
3,3,LANG,1011,Chinese I (A#+ I),3.00,3.00,B,9.00,NaN
4,4,ENG,1011,English I (K#RX I),3.00,3.00,B-,8.10,NaN
5,5,I.T.,1010,Information Technology,3.00,3.00,C+,6.90,NaN
6,6,MATH,1070,Linear Algebra I (For FM Students) I),3.00,3.00,B+,9.90,NaN
7,7,P.E.,1010,Physical Education/Healthy Living,3.00,3.00,B,9.00,NaN
8,8,WPE,1010,University Life,1.00,1.00,C,2.00,NaN
9,9,Semester,NaN,Total BAPTIST,19.00,19.00,NaN,51.90,NaN
10,10,Semester,NaN,Grade Point Average = 2.88 KONG,NaN,NaN,NaN,NaN,NaN
11,11,Course,NaN,Cumulative Total,19.00,19.00,NaN,51.90,NaN
12,12,Course,NaN,Cumulative Grade Point Average = 2.88,NaN,NaN,NaN,NaN,NaN
13,13,Semester,2 of,2012-2013,the,NaN,NaN,NaN,NaN
14,14,MATH,1120,Advanced Mathematics II III),3.00,3.00,B,9.00,NaN
15,15,LANG,1012,Chinese II (A++) II) K,"3,00",3.00,C,6.00,NaN
16,16,ECON,1020,Economics I I) ACADEMIC REGISTRY,0.00,3.00,B,9.00,NaN
17,17,ENG,1012,English II (A++ II),3.00,3.00,C+,6.90,NaN
18,18,WPE,1020,Experiential Development,1.00,1.00,B+,3.30,NaN
19,19,MATH,1080,Linear Algebra II (for FM Students) II),3.00,3.00,B,9.00,NaN
20,20,STAT,1060,Statistics for Science (for FM Students),3.00,3.00,B-,8.10,NaN
21,21,Semester,Total,NaN,19.00,19.00,NaN,48.00,NaN
22,22,Semester,NaN,Grade Point Average = 2.67,NaN,NaN,NaN,NaN,NaN
23,23,Course,NaN,Cumulative Total,38.00,38.00,NaN,99.90,NaN
24,24,Course,NaN,Cumulative Grade Point Average = 2.78,NaN,NaN,NaN,NaN,NaN

In [266]:
from transcript_handler.handlers import ExtractTableHandler

paths = ExtractTableHandler._compose_paths(deng)
table_data = ExtractTableHandler.et_sess.process_file(filepath=paths['input_file_path'], pages="all",
                                       output_format="df")
server_response = ExtractTableHandler.et_sess.ServerResponse.json()

C:\Projects\GC_beta\venv\lib\site-packages\ExtractTable\parsers.py:43: UserWarning: Check the status using the JobId after 30 seconds
  warnings.warn(_msg_)

[Info]: Waiting to retrieve the output; JobId: f7d29097ac8e292f6916ca6c5b33e82ace1d5e7ae8935d6997a9e1440e912ea5

In [267]:
table_data[0].shape

(25, 8)

In [268]:
table_data[0]

,0,1,2,3,4,5,6,7
0,Course,Code,Course Title,Unit Attempted,Unit Gained,Grade,Grade Point,Remarks Code
1,Semester,1 of,2012-2013,,,,,
2,MATH,1110,Advanced Mathematics I (### I),3.00,3.00,B,9.00,
3,LANG,1011,Chinese I (A#+ I),3.00,3.00,B,9.00,
4,ENG,1011,English I (K#RX I),3.00,3.00,B-,8.10,
5,I.T.,1010,Information Technology,3.00,3.00,C+,6.90,
6,MATH,1070,Linear Algebra I (For FM Students) I),3.00,3.00,B+,9.90,
7,P.E.,1010,Physical Education/Healthy Living,3.00,3.00,B,9.00,
8,WPE,1010,University Life,1.00,1.00,C,2.00,
9,Semester,,Total BAPTIST,19.00,19.00,,51.90,
10,Semester,,Grade Point Average = 2.88 KONG,,,,,
11,Course,,Cumulative Total,19.00,19.00,,51.90,
12,Course,,Cumulative Grade Point Average = 2.88,,,,,
13,Semester,2 of,2012-2013,the,,,,
14,MATH,1120,Advanced Mathematics II III),3.00,3.00,B,9.00,
15,LANG,1012,Chinese II (A++) II) K,"3,00",3.00,C,6.00,
16,ECON,1020,Economics I I) ACADEMIC REGISTRY,0.00,3.00,B,9.00,
17,ENG,1012,English II (A++ II),3.00,3.00,C+,6.90,
18,WPE,1020,Experiential Development,1.00,1.00,B+,3.30,
19,MATH,1080,Linear Algebra II (for FM Students) II),3.00,3.00,B,9.00,
20,STAT,1060,Statistics for Science (for FM Students),3.00,3.00,B-,8.10,
21,Semester,Total,,19.00,19.00,,48.00,
22,Semester,,Grade Point Average = 2.67,,,,,
23,Course,,Cumulative Total,38.00,38.00,,99.90,
24,Course,,Cumulative Grade Point Average = 2.78,,,,,

In [270]:
table_data[0].to_csv(os.path.join(paths['output_dir'],'test.csv'), index=False)

In [269]:
paths['output_dir'],'test.csv'

('C:\\Projects\\GC_beta\\GC_beta\\sample_output\\Deng', 'test.csv')

In [294]:
paths = ExtractTableHandler._compose_paths(liu)
test_table = pd.read_csv(os.path.join(paths['output_dir'],'table-0.csv'))

In [295]:
test_table.shape

(29, 8)

In [275]:
len(server_response['Tables'])

9

In [297]:
from transcript_handler.handlers import ExtractTableHandler
wrong_tables, server_response = ExtractTableHandler._read_response(liu)

reading server response...
read table-0.csv
read table-1.csv
read table-2.csv
read table-3.csv
read table-4.csv
read table-5.csv
read table-6.csv
read table-7.csv
read table-8.csv

In [298]:
wrong_tables[0]

,0,1,2,3,4,5,6,7
0,Course,Code,Course Title,Unit Attempted,Unit Gained,Grade,Grade Point,Remarks Code
1,Semester,1 of,2015-2016,NaN,NaN,NaN,NaN,NaN
2,GCLA,1903,English I it I),3.00,3.00,A-,11.01,NaN
3,WPEX,1003,Experiential Development,1.00,1.00,B,3.00,NaN
4,GCIT,1003,IT for Success in Everyday Life and Work (B ***),3.00,3.00,A-,11.01,NaN
5,ECON,2013,Principles of Microeconomies,3.00,3.00,A-,11.01,NaN
6,GDFL,1033,Spanish I,3.00,3.00,A,12.00,NaN
7,GCPE,1203,Table Tennis (FR#),1.00,1.00,B,3.00,NaN
8,GCCH,1003,University Chinese it # *),3.00,3.00,C+,6.99,NaN
9,Semester,Total,RONG,NaN,17.00,NaN,58.02,NaN
10,Semester Course,Grade Cumulative,Point Average - 3.41 Total,NaN,17.00,NaN,58.02,NaN
11,Course Dean's,Cumulative List,Grade Point Average - 3.41,de,NaN,NaN,NaN,NaN
12,Semester,2 of,2015-2016 14,NaN,NaN,NaN,NaN,NaN
13,GDBM,1003,Business and Society (******) ACADENIC REGISTRY,9.00,3.00,B+,9.99,NaN
14,GCCH,1013,Chinese Thought through the Ages (+ DE,3.00,3.00,A-,11.01,NaN
15,WPEX,1013,Emotional Intelligence,1.00,1.00,A-,3.67,NaN
16,GCLA,1913,English II it * * II),3.00,3.00,B+,9.99,NaN
17,GCPE,1183,Fitness (##E),1.00,1.00,B,3.00,NaN
18,ACCT,2023,Introduction to Financial Accounting (for mino...,3.00,3.00,B,9.00,NaN
19,GCNU,1003,Speaking of Statistics a #,3.00,3.00,B,9.00,NaN
20,Semester,Total,NaN,17.00,17.00,NaN,55.66,NaN
21,Semester,Grade,Point Average - 3.27,NaN,NaN,NaN,NaN,NaN
22,Course,Cumulative,Total,34.00,34.00,NaN,113.68,NaN
23,Course,Cumulative,Grade Point Average - 3.34,NaN,NaN,NaN,NaN,NaN
24,Dean's,List,NaN,NaN,NaN,NaN,NaN,NaN
25,Summer,Study,of 2015-2016,NaN,NaN,NaN,NaN,NaN
26,SCIT,1013,Selected Topics in Science and Technology: Bus...,3.00,3.00,B,9.00,NaN
27,Semester Semester,Total Grade,Point Average - 3.00,3.00,3.00,NaN,9.00,NaN
28,Course Course,Cumulative Cumulative,Total Grade Point Average = 3.32,37.00,37.00,NaN,122.68,NaN